src/main/mule/password-reset.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="password-resetFlow" doc:id="716081e5-1afc-4186-910e-4e4d39d77142" >
		<http:listener doc:name="Listener" doc:id="3c3fc89f-41ad-42f6-b5e8-2d562717cb81" config-ref="localhost" path="/password-reset"/>
		<ee:transform doc:name="Transform Message" doc:id="d81b3bc7-6516-4c52-a818-839b0bc91b78" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"username" : payload.parts.username.content,
	"password" : payload.parts.password.content	
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
